---

---

#myCarousel > div > div> img, #myCarousel > div > div > a > img
{
	min-width: 100%;
}

body > nav {
	margin-bottom: 0 !important;
}

header {
	text-align: center;
	background-image: url('{{ site.url }}/images/BlackDesertOnline-lg.jpg');
}

body {
	background-color: #696969;
}

body > main > div {
	max-width: 85%;
	background-color: #b7b7b7;
}

body > main > div 
{
	padding: 25px;
}

footer {
	background-color: #101010;
}

body > main > footer > div.footer-copyright > div > p {
	text-align: center;
}

body > main > footer > div.container-fluid > div {
	margin: 10px;
}