<!--Footer-->
<footer class="">

	<div class="container-fluid">
		<div class="col-lg-3">
			<p>Some guild info goes here!</p>
			<p>Click <a href="{{ "/changelog" | prepend: site.baseurl }}">here!</a> to view the change log</p>
		</div>
<!-- 		<div class="col-lg-9">
			<ul class="nav">
		        <li><a href="{{ "/news" | prepend: site.baseurl }}">News</a></li>
		        <li><a href="{{ "/calendar" | prepend: site.baseurl }}">Calendar</a></li>
			</ul>	
		</div> -->
	</div>

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            <p>© 2017 Copyright: <a href="https://github.com/CommanderDerpy">CommanderDerpy</p>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->